In [3]:
name = 'Abdallah ahmed mohamed hassan'
type(name)

str

In [42]:
len(name)

29

In [15]:
age = 28
print("MY NAME IS {} AND MY AGE IS {}".format(name.upper() , age) )

MY NAME IS ABDALLAH AHMED MOHAMED HASSAN AND MY AGE IS 28

In [16]:
type(age)

int

In [18]:
print(name + " -- " + str(age))

Abdallah ahmed mohamed hassan -- 28

In [4]:
name.upper()

'ABDALLAH AHMED MOHAMED HASSAN'

In [5]:
name.lower()

'abdallah ahmed mohamed hassan'

In [6]:
name.index('l')

4

In [7]:
name.count('a')

6

In [9]:
name + ' !!!! '

'Abdallah ahmed mohamed hassan !!!! '

In [13]:
"MY NAME IS {} ".format(name.upper())

'MY NAME IS ABDALLAH AHMED MOHAMED HASSAN '

In [14]:
for letter in name :
    print(letter.capitalize())

A
B
D
A
L
L
A
H

A
H
M
E
D

M
O
H
A
M
E
D

H
A
S
S
A
N

In [33]:
x = 20 
y = 5.5
type(x)

int

In [34]:
type(y)

float

In [35]:
float(x)

20.0

In [36]:
int(y)

5

In [37]:
max(x , y)

20

In [38]:
min(x , y)

5.5

In [40]:
pow(x , y)

14310835.055998653

In [41]:
abs(-1)

1

In [50]:
def aggragate_func(x , y) :
    operation_1 = x + y 
    operation_2 = x - y 
    operation_3 = x * y 
    operation_4 = x / y  
    maximum = max(x , y) 
    minmum = min(x , y)
    return "ADD {}  SUB {}  MULTI {}  DIVISION {}  MAX {}  MIN {}".format(operation_1 , 
                                                                               operation_2 , 
                                                                               operation_3 , 
                                                                               operation_4 ,
                                                                               maximum ,
                                                                               minmum )

In [51]:
aggragate_func(2 , 2)

'ADD 4  SUB 0  MULTI 4  DIVISION 1.0  MAX 2  MIN 2'

In [52]:
aggragate_func(12 , 90)

'ADD 102  SUB -78  MULTI 1080  DIVISION 0.13333333333333333  MAX 90  MIN 12'

In [57]:
def check_type(x) :
    """ function for check type of number which is even or odd """
    if x % 2 == 0 :
        print('THIS NUMBER IS EVEN NUMBER')
    else :
         print('THIS NUMBER IS ODD NUMBER')

In [58]:
check_type(2)

THIS NUMBER IS EVEN NUMBER

In [59]:
check_type(3)

THIS NUMBER IS ODD NUMBER

In [60]:
check_type(2.9)

THIS NUMBER IS ODD NUMBER

In [65]:
round(12.567 , 0)

13.0

In [66]:
round(12.567 , 1)

12.6

In [73]:
def analysis(df) :
    check_1 = df.columns
    check_2 = len(df.columns)
    check_3 = df.shape
    check_4 = df.dtypes
    return check_1, check_2, check_3, check_4

In [68]:
import pandas as pd

In [69]:
car = pd.read_csv('./datasets/cars.csv' , index_col=0)
car

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [70]:
analysis(car)

(Index(['cars_per_cap', 'country', 'drives_right'], dtype='object'),
 3,
 (7, 3),
 cars_per_cap     int64
 country         object
 drives_right      bool
 dtype: object)

In [76]:
def summary_statics(df) :
    MAX_ = df.max()
    MIN_ = df.min()
    COUNT_ = df.count()
    return MAX_ , MIN_ , COUNT_

In [77]:
summary_statics(car)

(cars_per_cap              809
 country         United States
 drives_right             True
 dtype: object,
 cars_per_cap           18
 country         Australia
 drives_right        False
 dtype: object,
 cars_per_cap    7
 country         7
 drives_right    7
 dtype: int64)

In [83]:
names = ["Ali" , "Salem" , "Mohamed" , "Yahia"]
names[0]

'Ali'

In [87]:
names.append('Abdallah')
names

['Ali',
 'Salem',
 'Mohamed',
 'Yahia',
 'Abdallah',
 'Abdallah',
 'Abdallah',
 'Abdallah']

In [89]:
del(names[1])
names

['Ali', 'Yahia', 'Abdallah', 'Abdallah', 'Abdallah', 'Abdallah']

In [92]:
sorted(names , reverse=True)

['Yahia', 'Ali', 'Abdallah', 'Abdallah', 'Abdallah', 'Abdallah']

In [93]:
names.index('Yahia')

1

In [94]:
names.count('Abdallah')

4

In [95]:
len(names)

6

In [99]:
names.reverse()
names

['Abdallah', 'Abdallah', 'Abdallah', 'Abdallah', 'Yahia', 'Ali']

In [103]:
for name in names :
    print(name)

Abdallah
Abdallah
Abdallah
Abdallah
Yahia
Ali

In [102]:
for index , name in enumerate(names) :
    print(name + " -- " + str(index))

Abdallah -- 0
Abdallah -- 1
Abdallah -- 2
Abdallah -- 3
Yahia -- 4
Ali -- 5

In [105]:
world = {
    "afghanistan" : 30.55,
    "albania" : 2.77,
    "algeria" : 39.21
}
world['afghanistan']

30.55

In [106]:
world.keys()

dict_keys(['afghanistan', 'albania', 'algeria'])

In [107]:
len(world.keys())

3

In [119]:
world['Egypt'] = 23.98
world

{'albania': 2.77, 'Egypt': 23.98}

In [ ]:
del[world['afghanistan']]

In [120]:
world

{'albania': 2.77, 'Egypt': 23.98}

In [122]:
for key , value in world.items():
    print(key + ' ----------->> ' + str(value))

albania ----------->> 2.77
Egypt ----------->> 23.98

In [124]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
my_dict = {
    'country' : names ,
    'drives_right' : dr ,
    'cars_per_cap' : cpc
}

Cars_dataframe = pd.DataFrame(my_dict)
Cars_dataframe

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [127]:
Cars_series = pd.Series(my_dict)
Cars_series

country         [United States, Australia, Japan, India, Russi...
drives_right        [True, False, False, False, True, True, True]
cars_per_cap                     [809, 731, 588, 18, 200, 70, 45]
dtype: object

In [131]:
for index , row in Cars_dataframe.iterrows():
    print(str(index) +" "+ row['country'] +" "+ str(row['drives_right'])+" "+ str(row['cars_per_cap']))

0 United States True 809
1 Australia False 731
2 Japan False 588
3 India False 18
4 Russia True 200
5 Morocco True 70
6 Egypt True 45

In [137]:
Cars_dataframe.columns

Index(['country', 'drives_right', 'cars_per_cap'], dtype='object')

In [132]:
Cars_dataframe.values

array([['United States', True, 809],
       ['Australia', False, 731],
       ['Japan', False, 588],
       ['India', False, 18],
       ['Russia', True, 200],
       ['Morocco', True, 70],
       ['Egypt', True, 45]], dtype=object)